.products {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: flex;
  flex-direction: column;
}

// tablets
@media screen and (min-width: 40em) and (max-width: 63.9em) {
  .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}

// web
@media screen and (min-width: 64em) {
  .products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
}
